html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-image: url('../../../public/images/tc-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

img {
  display: inline-block;
  max-width: 100%;
}



/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.grad {
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(rgba(255,255,255,0), rgb(255, 255, 255, 1));
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  /* padding: 10px 20px; */
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Sections
-------------------------------------------------------------------------------- */

/* #user-details, #user-activity{
  width: 350px;
  background-color: #fafafa;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
} */

.flex-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;

}

.userImgEdit {
  display: inline-flex;
  flex-flow: column wrap;
  padding: 1em 0em;
  /* margin-top: 1.2em;
  margin-left: 1em; */
  text-align: center;
  align-items: center;
  align-content: center;
  /* justify-content: center; */
}

.details {
  flex-flow: row wrap;
  margin-top: 5em;
  height: 10.5em;
}

.dashboard {
  overflow-y: scroll;
  /* display: block; */
  max-width: 375px;
  width: 375px;
  position: absolute;
  top: 335px;
  height: 330px;
  background-color: #fafafa;
  flex-flow: column;
}

.activity {
  flex-flow: column wrap;
  margin-top: 1em;
}

.flex-container > section {
  background-color: #fafafa;
  color: black;
  font-size: 1em;
  opacity: 100%;
  /* align-items: center; */
}

.userImg {
  display: flex;
  flex-flow: column wrap;
  width: 35%;
  height: inherit;
  /* align-items: center; */
  /* align-content: center; */
  /* justify-content: center; */
  /* text-align: center; */
  /* height: auto; */
}

.user-activity-section, .dash-pop {
  display:block;
  width: 100%;
  margin-bottom: 1em;
}

.userInfo {
  display: flex;
  width: 65%;
  height: inherit;
  /* justify-content: center; */
  align-items: center;
  /* opacity: 100%; */
}

.dash-pop-list {

  margin: 0em;
  column-count: 2;

}

.list-icon {
  list-style-type: none;
  padding-left: 1em;
}

.dash-pop-list-item {
  /* list-style-type: none; */
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
  width: 100%;
  /* margin: 0.2em; */
}

.activity-list {
  padding-left: 4em;
  padding-bottom: 1em;
  margin: 0em;
}

.userInfoList {
  padding-left: 1em;
  padding-top: 3.5em;
  padding-bottom: 1em;
  margin: 0em;
  list-style-type: none;
}

.top-h2 {
  display: block;
  font-size: 1em;
  padding-left: 1.75em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0em;
  white-space: nowrap;
  z-index: 2;
}

.user-detail-h2 {
  display: inline-block;
  font-size: 1em;
}

.detailh2, .user-detail-h2 {
  /* font-size: 1.2em; */
  /* padding-top: 1em; */
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* padding-bottom: 1em; */
  margin: 0em;
  /* display: inline-block; */
}

#features {
  max-width: 375px;
  min-width: 350px;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
  position: absolute;
  top: 335px;
  height: 330px;
  /* height: auto; */
  padding-left: 1em;
  padding-right: 1em;
  /* padding-bottom: 2em; */
  /* opacity: 85%; */
}

#map {
  position: fixed;
  z-index: 1;
  top: 35px; 
  bottom: 0; 
  width: 100%;
}

#top {
  position: relative;
}

section {
  /* margin: 5px 20px; */
  line-height: 25px;
  /* border-bottom: 1px solid #ddd; */
  /* opacity: 0.25; */
  opacity: 85%;
  font-size: 13px;
}

section.test {
  opacity: 0.25;
  border-bottom: 1px solid #ddd;
}

section.active {
opacity: 1;
}

section.test:last-child {
border-bottom: none;
margin-bottom: 200px;
}

/* --------------------------------------------------------------------------------
Fonts & Text
-------------------------------------------------------------------------------- */
.detailh3 {
  font-size: 0.75em;
  padding: 0.75em;
  font-weight: light;
  padding-top: 0.75em;
  padding-left: 1em;
  padding-right: 0.75em;
  display: flex;
  margin: 0em;
}

.box {
  box-sizing: border-box;
}

.ride-history, .saved-points {
  overflow-y: scroll;
  height: 10em;

}

.badges-earned {
  overflow-x: scroll;
  height: 8em;
}


.detailHeader {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-right: 0.75em;
  padding-top: 2em;
  margin-top: 0em;
  margin-right: 0em;

}

.detailImg {
  width: 40%;
  padding-left: 0.75em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  float: right;
}

.detailh2 {
  font-size: 1em;
  /* padding-top: 1em; */
  padding-left: 0.5em;
  padding-right: 0.5em;
  /* padding-bottom: 1em; */
  margin: 0em;
  /* display: inline-block; */
}

.detailList {
  display: inline-block;
  list-style-type: none;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0em;
  width: 45%;
}

.detailDescription {
  padding-top: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  margin: 0em;
}