body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

#features {
  width: 100%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
  position: absolute;
  top: 300px;
  height: 375px;

  }

  #map {
    position: fixed;

    }
  #top {
    position: relative;
  }

    section {
      padding: 5px 20px;
      line-height: 25px;
      /* border-bottom: 1px solid #ddd; */
      /* opacity: 0.25; */
      font-size: 13px;
      }
      section.test {
        opacity: 0.25;
        border-bottom: 1px solid #ddd;
      }
      section.active {
      opacity: 1;
      }
      section.test:last-child {
      border-bottom: none;
      margin-bottom: 200px;
      }