.all-points {
  overflow-y: scroll;
  min-width: 350px;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 58%;
  max-height: 58%;
  background-color: #fafafa;
  flex-flow: column;
  /* padding-bottom: 2rem; */
}

.ap-section {
  display:block;
  width: 100%;
  margin-bottom: 2.5rem;
}

.ap-list {
  column-gap: 30px;
  margin: 0em;
  column-count: 2;
}

.box {
  box-sizing: border-box;
}

.pd-img {
  width: 40%;
  padding-left: 0.75em;
  padding-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  float: right;
}

.pd-header {
  /* text-align: center; */
  display: flex;
  justify-content: left;
  padding-right: 0.75em;
  padding-top: 2em;
  margin-top: 0em;
  margin-right: 0em;
  padding-left: 0.75em;
}

.pd-h2 {
  font-size: 1em;
  padding-left: 1em;
  padding-right: 0.5em;
  margin: 0em;
}

.pd-h3 {
  font-size: 0.75em;
  padding: 0.75em;
  font-weight: light;
  padding-top: 0.75em;
  padding-left: 1em;
  padding-right: 0.75em;
  display: flex;
  margin: 0em;
}

.pd-description {
  padding-top: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  margin: 0em;
}

.sources-section {
  padding-bottom: 3rem;
}