.user-details {
  flex-flow: row wrap;
  margin-top: 6em;
  height: 10.5em;
}

.user-img {
  display: flex;
  flex-flow: column nowrap;
  width: 35%;
  height: inherit;
}

.user-img-edit {
  display: inline-flex;
  flex-flow: column wrap;
  padding: 0.5em 0em;
  text-align: center;
  align-items: center;
  align-content: center;
}

.user-info {
  display: flex;
  width: 65%;
  height: inherit;
  align-items: center;
}

.ud-list {
  padding-left: 1em;
  padding-top: 2.5em;
  padding-bottom: 1em;
  margin: 0em;
  list-style-type: none;
}

.ud-h2 {
  display: inline-block;
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0em;
  font-weight: normal;
}

.user-activity {
  flex-flow: column wrap;
  margin-top: 1em;
}

.ua-section, .ue-section {
  display:block;
  width: 100%;
  margin-bottom: 1em;
}

.ride-history, .saved-points {
  overflow-y: scroll;
  height: 11em;
}

.badges-earned {
  overflow-x: scroll;
  height: 8em;
}

.ua-list {
  /* padding-left: 4em; */
  padding-bottom: 1em;
  margin: 0em;
  column-count: 2;
}